# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Compile microbit-python'
      'command': 'microbit-python:compile'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'microbit-python'
      'submenu': [
        {
          'label': 'Compile'
          'command': 'microbit-python:toggle'
        }
      ]
    ]
  }
]
